<ng-container @fade>
  <div *ngFor="let item of content">
    <div *ngFor="let c of item.contents">
      <div [innerHTML]="c.content | safeHtml"></div>
    </div>
  </div>
  <h2 *ngIf="collection.length">{{ 'SEARCH_RESULTS' | translate }}:</h2>

  <div *ngFor="let item of collection" class="collection-item">
    <img *ngIf="item.media" [src]="env.cdnUrl + '/media/image/small/' + item.media.id">
    <div>
      <h2>{{ item.contents[0].name }}</h2>
    </div>
    <div [innerHTML]="item.contents[0].content | safeHtml"></div>
  </div>
</ng-container>
