// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ng-app-primary: mat-palette($mat-indigo);
$ng-app-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ng-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$ng-app-theme: mat-light-theme($ng-app-primary, $ng-app-accent, $ng-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ng-app-theme);

/* You can add global styles to this file, and also import other style files */

@import "~@ng-select/ng-select/themes/default.theme.css";

@import './variables.scss';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: $main-bg-color;
}

* {
  box-sizing: border-box;
}


.mat-toolbar {
  position: relative;
  z-index: 2;
  font: unset;

  &.mat-primary {
    background: rgb(16,74,0);
    background: linear-gradient(90deg, rgba(16,74,0,1) 0%, rgba(110,0,102,1) 34%, rgba(85,0,255,1) 100%);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
  }
}

.ng-select {
  min-width: 400px;

  &.ng-select-multiple {
    .ng-select-container {
      .ng-value-container {
        .ng-value {
          background-color: #e2defd;
        }
        .ng-placeholder {
          top: 7px;
        }
      }
    }
  }

  .ng-select-container {
    background-color: #fff;
    border-radius: 0px;
    border: 1px solid #ccc;
    min-height: 36px;
    align-items: center;
  }
}

.ng-dropdown-panel {
  .ng-dropdown-panel-items {
    .ng-option {
      &.ng-option-selected {
        background-color: #f3f2ff;

        &.ng-option-marked {
          background-color: #f3f2ff;
        }
      }
    }
  }
}
