// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ng-app-primary: mat-palette($mat-indigo);
$ng-app-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ng-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$ng-app-theme: mat-light-theme($ng-app-primary, $ng-app-accent, $ng-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ng-app-theme);

/* You can add global styles to this file, and also import other style files */

@import "~@ng-select/ng-select/themes/default.theme.css";

@import './variables.scss';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: $main-bg-color;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  color: #563000;
}

p {
  color: #505050;
}

.mat-toolbar {
  position: relative;
  z-index: 2;
  font: unset;

  &.mat-primary {
    background: #01610a;
    //background: linear-gradient(90deg, #01a9a9 0%, #d200c3 34%, #05a1ff 100%);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  }
}

.ng-select {
  min-width: 400px;

  &.ng-select-multiple {
    .ng-select-container {
      .ng-value-container {
        .ng-value {
          background-color: #f7f1e3;

          .ng-value-icon.left {
            border-right: 1px solid #c1dcc3;
          }
        }
        .ng-placeholder {
          color: #3e3e3e;
          top: 7px;
        }
      }
    }
  }

  .ng-select-container {
    background-color: #fff;
    border-radius: 0px;
    border: 1px solid #ccc;
    min-height: 36px;
    align-items: center;

    .ng-value-container {
      .ng-value {
        .ng-value-icon.left:hover {
            background-color: #f1d9c8;
        }
      }
    }
  }
}

.ng-dropdown-panel {
  &.ng-select-bottom {
    margin-left: 5px;
  }
  .ng-dropdown-panel-items {
    .ng-option {
      &.ng-option-marked {
        background-color: #f7f1e3;
      }
      &.ng-option-selected {
        background-color: #f7f1e3;

        &.ng-option-marked {
          background-color: #f5ecd6;
        }
        .ng-option-label,
        &.ng-option-marked .ng-option-label {
          font-weight: 500;
        }
      }
    }
  }
}

.mat-snack-bar-container {
  color: rgba(182, 227, 133, 0.7);
  background: #000000;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.mat-simple-snackbar-action {
  color: #86e47b;
}
