:host {
  .logo {
    text-decoration: none;
    margin-right: 20px;
  }

  mat-toolbar {
    mat-toolbar-row {
      div {
        display: flex;

        &:first-child {
          flex: 0.5;
        }

        &:last-child {
          flex: 0.5;
          flex-flow: row-reverse;
        }
      }

      mat-button-toggle-group {
        mat-button-toggle {
          background-color: #f3f3f3;
          color: rgba(4, 4, 4, 0.65);
        }
      }
    }
  }
}
