:host {
  .logo {
    text-decoration: none;
    margin-right: 20px;
  }

  .spacer {
    flex: auto;
  }

  mat-toolbar {
    mat-button-toggle-group {
      mat-button-toggle {
        background-color: ghostwhite;
      }
    }
  }
}
