:host {
  .logo {
    text-decoration: none;
    margin-right: 20px;
  }

  mat-toolbar {
    mat-toolbar-row {
      div {
        width: 33%;

        &:last-child {
          text-align: right;
        }
      }

      mat-button-toggle-group {
        mat-button-toggle {
          background-color: #f3f3f3;
          color: rgba(4, 4, 4, 0.65);
        }
      }
    }
  }
}
